
div {
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.pricing_item {
    width: 100%;
    padding-top: 57px;
    padding-bottom: 70px;
    text-align: center;
    background: #FFFFFF;
}

.pricing_item_content {
    width: 100%;
    height: 100%;
    z-index: 10;
}

.pricing_level {
    font-size: 14px;
    color: #4c4c4c;
}

.pricing_price {
    font-size: 60px;
    color: #4c4c4c;
    line-height: 0.75;
    margin-top: 15px;
}

.pricing_list {
    margin-top: 59px;
}
ul {
    list-style: none;
    margin-bottom: 0px;
}
.parallax-window {
	min-height: 400px;
	background: transparent;
}

.pricing_info {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: #ff8416;
    margin-left: auto;
    margin-right: auto;
    margin-top: 34px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.pricing_button {
    width: 180px;
    height: 54px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 42px;
}
.button {
    width: 205px;
    height: 52px;
    text-align: center;
    overflow: hidden;
    margin-bottom: 5px;
}
.parallax_background {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
.pricing {
	width: 100%;
	padding-top: 87px;
	padding-bottom: 73px;
}
.super_container {
	width: 100%;
	overflow: hidden;
}
body {
	margin: 0;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: left;
	background-color: #fff;
}
body {
	font-family: "Raleway",sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #FFFFFF;
	color: #a5a5a5;
}
html {
	font-family: sans-serif;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: transparent;
}
:root {
	--blue: #007bff;
	--indigo: #6610f2;
	--purple: #6f42c1;
	--pink: #e83e8c;
	--red: #dc3545;
	--orange: #fd7e14;
	--yellow: #ffc107;
	--green: #28a745;
	--teal: #20c997;
	--cyan: #17a2b8;
	--white: #fff;
	--gray: #868e96;
	--gray-dark: #343a40;
	--primary: #007bff;
	--secondary: #868e96;
	--success: #28a745;
	--info: #17a2b8;
	--warning: #ffc107;
	--danger: #dc3545;
	--light: #f8f9fa;
	--dark: #343a40;
	--breakpoint-xs: 0;
	--breakpoint-sm: 576px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 992px;
	--breakpoint-xl: 1200px;
	--font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	--font-family-monospace: "SFMono-Regular",Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

.pricing_item_mid::after {
    height: 100%;
}
.pricing_item::after {
    display: block !important;
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #4867c0 !important;
    background-image: linear-gradient(to right, #4867c0, #329fec) !important;
    background: #4867c0 !important;
    background: linear-gradient(to right, #4867c0, #329fec) !important;
    content: '';
}

.col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.pricing_item_mid {
    left: -30px;
    top: -42px;
    width: calc(100% + 60px) !important;
    padding-bottom: 71px !important;
    padding-top: 54px !important;
    box-shadow: 0px 2px 54px rgba(0,0,0,0.65) !important;
    z-index: 1;
    background-color: #4867c0 !important;
    background-image: linear-gradient(to right, #4867c0, #329fec) !important;
    background: #4867c0 !important;
    background: linear-gradient(to right, #4867c0, #329fec) !important;
}
.pricing_item {
    width: 100%;
    padding-top: 57px;
    padding-bottom: 70px;
    text-align: center;
    background: #FFFFFF;
}

.pricing_section_title {
    font-size: 48px;
    color: #FFFFFF;
}

.pricing_row {
    margin-top: 145px;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.pricing_list li:not(:last-child) {
    margin-bottom: 15px;
}
.pricing_item_mid .pricing_list li {
    color: #FFFFFF;
}
.pricing_list li {
    font-size: 14px;
    color: #888888;
}

pricing_item_mid .pricing_button {
    background: #FFFFFF;
}
.pricing_button {
    width: 180px;
    height: 54px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 42px;
}
.button {
    width: 205px;
    height: 52px;
    text-align: center;
    overflow: hidden;
    margin-bottom: 5px;
}

.button a {
    display: block;
    position: relative;
    line-height: 52px;
    font-size: 14px;
    font-weight: 500;
    color: #FFFFFF;
    z-index: 1;
}
a, a:hover, a:visited, a:active, a:link {
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

.button::before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    content: '';
    background-color: #4867c0;
    background-image: linear-gradient(to right, #4867c0, #329fec, #4867c0);
    background: #4867c0;
    background: linear-gradient(to right, #4867c0, #329fec, #4867c0);
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}