<div class="pricing">
		<img class="parallax_background parallax-window" src="../assets/images/pricing.jpg"/>
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="pricing_section_title">Choose a Package</div>
				</div>
			</div>
			<div class="row pricing_row">
				
				<!-- Pricing Item -->
				<div class="col-lg-3 pricing_col">
					<div class="pricing_item">
						<div class="pricing_item_content">
							<div class="pricing_level">Bronze Partnership</div>
							<div class="pricing_price">R10 000<span>00</span></div>
							<ul class="pricing_list">
								<li>Conference Tote Bag </li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
              </ul>
							<!--<div class="pricing_info" data-toggle="modal" data-target="#package1Modal">
                  i
                </div>-->
							<div class="button pricing_button"><a href="#" data-toggle="modal" data-target="#package1Modal">View More</a></div>
						</div>
					</div>
				</div>

				<div class="col-lg-3 pricing_col">
            <div class="pricing_item">
              <div class="pricing_item_content">
                <div class="pricing_level">Silver Partnership</div>
                <div class="pricing_price">R25 000<span>00</span></div>
                <ul class="pricing_list">
                  <li>Refreshment break</li>
                  <li>Pocket Agenda</li>
                  <li>&nbsp;</li>
                  <li>&nbsp;</li>
                  <li>&nbsp;</li>
                  <li>&nbsp;</li>
                </ul>
                <!--<div class="pricing_info" data-toggle="modal" data-target="#package2Modal">
                    i
                  </div>-->
                <div class="button pricing_button"><a href="#" data-toggle="modal" data-target="#package2Modal">View More</a></div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 pricing_col">
              <div class="pricing_item">
                <div class="pricing_item_content">
                  <div class="pricing_level">Gold Partnership</div>
                  <div class="pricing_price">R50 000<span>00</span></div>
                  <ul class="pricing_list">
                    <li>Conference Tote Bag</li>
                    <li>Conference Workbook</li>
                    <li>Your Company banner</li>
                    <li>Luncheon Reception</li>
                    <li>Portfolio Jackets</li>
                    <li>Gala Dinner</li>
                  </ul>
                  <!--<div class="pricing_info" data-toggle="modal" data-target="#package3Modal">
                    i
                  </div>-->
                  <div class="button pricing_button"><a href="#" data-toggle="modal" data-target="#package3Modal">View More</a></div>
                </div>
              </div>
            </div>

				<!-- Pricing Item -->
				<div class="col-lg-3 pricing_col">
					<div class="pricing_item">
						<div class="pricing_item_content">
							<div class="pricing_level">Platinum Partnership</div>
							<div class="pricing_price">R100 000<span>00</span></div>
							<ul class="pricing_list">
								<li>Breakfast Reception</li>
								<li>Luncheon Reception</li>
								<li>Gala Dinner</li>
								<li>Registration Booth</li>
                <li>Exclusivity</li>
                <li>&nbsp;</li>
							</ul>
							<!--<div class="pricing_info" data-toggle="modal" data-target="#package4Modal">
								i
							</div>-->
							<div class="button pricing_button" ><a href="#" data-toggle="modal" data-target="#package4Modal">View More</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
  </div>

  
  
  