<div class="container">
  <!-- row -->
  <!-- section title -->
  <div class="section-title">
    <h3 class="title"><span>About Event</span> </h3>
  </div>
  <!-- /section title -->
  <div class="row">
    <!-- about content
          <div class="about-content">
            <img src="../assets/images/logo2.PNG"/>
            <p></p>
          </div> -->
    <!-- /about content -->
    <div class="col-md-12 text-center">
      <!-- about content -->
      <div class="about-content">
        <p style="text-align: justify;">
            The City of Ekurhuleni is seeking to enter into partnership with suitably qualified private parties for the design, finance, build, operate and maintain of several office accommodation developments with mixed-use components located at two of the City’s civic precincts in Germiston and Kempton Park. 
            <br><br>
            To this end, the Executive Mayor, Cllr. Mzwandile Masina is hosting the City’s inaugural Summit - Public Private Partnership Investor Summit on 5-6 December 2018 at Emperors Palace, Kempton Park.  
            <br><br>
            The PPP Summit is inspired by the City’s vision to take the lead in environmental, social and economic development while unlocking sustainable growth through smart partnerships. 
            <br><br>
            The EKURHULENI PUBLIC PRIVATE PARTNERSHIP INVESTOR SUMMIT 2018 will bring together public and private stakeholders involved in infrastructure financing and real estate development. The event will showcase the City of Ekurhuleni’s proposed PPP developments and related investment opportunities. 
            <br><br>
            The aim of the PPP Investor Summit is to officially launch the City’s proposed PPP developments and showcase approved mega infrastructure programmes, which are part of the City’s Re-Urbanisation strategiy as informed by the Growth and Development Strategy (GDS 2055). 
            <br><br>
            The Summit is intended to stimulate the investor community as well as demonstrate the City’s readiness to engage investors and other relevant stakeholders in ensuring successful implementation of the proposed PPP developments.
            
        </p>
      </div>


      <!-- /about content -->
    </div>
  </div>
  <div class="row">
  <img class="background_image backimage" style="background-size: inherit;margin-left: 400px;  margin-top:-470px;opacity: 0.2;filter:alpha(opacity=50); background-repeat: no-repeat, repeat;" src="../assets/images/background122.png" />
  <br>
</div>
  <!-- row -->
</div>