<div class="container" >
    <!-- row -->
      <!-- section title -->
      <div class="section-title">
          <h3 class="title"><span>About Event</span> </h3>
        </div>
        <!-- /section title -->
    <div class="row">    
          <!-- about content
          <div class="about-content">
            <img src="../assets/images/logo2.PNG"/>
            <p></p>
          </div> -->
          <!-- /about content -->    
      <div class="col-md-12 text-center">
        <!-- about content -->
        <div class="about-content">
          <p style="text-align: justify;">The aim of the City of Ekurhuleni’s PPP Investor Summit is to officially launch the proposed PPP
              developments and showcase the PPP project proposals, which are part of the City’s Re-Urbanise
              strategic objective as informed by the 2055 Growth and Development Strategy (GDS 2055). The
              summit is intended to stimulate the private investor community as well as demonstrate the City’s
              readiness to engage private investors and other relevant stakeholders in ensuring a successful
              implementation of the proposed PPP developments.<br><br>
              The central theme of the Summit is showcasing the City’s PPP roll-out plans, which are managed by
              Real Estate Department, as part of their strategic function to guide the City in creating value through
              the property portfolio and improve the management of the portfolio. The Summit must also provide
              a platform to communicate the City’s broader vision and its investment facilitation message to the
              markets while also showcasing other catalytic projects and mega infrastructure programmes driven
              as part of the City’s ‘<b>come invest</b>’ campaign.
              <br>
              <br>
              <b>Business will learn how to Partner with the City of Ekurhuleni.</b><br>
              The Ekurhuleni PPP conference is the largest exhibition event in the City for creating new public
private partnerships in the real estate industry. It is a must attend event for industry executives and
champions looking to develop relationships with local and state governments as well to network
with other global players. With the national real estate industry in attendance, municipal officials
from all over the country are attending conference to unveil the City of Ekurhuleni’s development
goals, redevelopment visions, and prospective projects.
<br>
              <br>
              <b>Education: Expand your Public Private Partnership Knowledge.</b><br>
              Led by the industry’s brightest talent, the conference will feature in-depth discussions on the latest
topics, emerging trends and expanding roles of public private partnerships specific to the City of
Ekurhuleni. Sessions are designed to inform attendees on how the City is transforming spaces within
the municipality into economically vibrant communities and a great deal of attention on how the
City plans to improve the livelihood of local communities. Industry experts will present practical
financing techniques and private public partnership approaches that can be used for your next
development projects in the city.
            </p>
        </div>
        
      
        <!-- /about content -->        
      </div>
    </div>
    <!-- row -->
  </div>