<div class="container" >
    <!-- row -->
      <!-- section title -->
      <div class="section-title">
          <h3 class="title"><span>About Event</span> </h3>
        </div>
        <!-- /section title -->
    <div class="row">    
          <!-- about content
          <div class="about-content">
            <img src="../assets/images/logo2.PNG"/>
            <p></p>
          </div> -->
          <!-- /about content -->    
      <div class="col-md-12 text-center">
        <!-- about content -->
        <div class="about-content">
          <p>The City of Ekurhuleni and executive mayor, Mzwandile Masina invites all stakeholders to the Ekurhuleni Public private Partnership (PPP) Investor Summit 2018 to join hands in taking the City to new heights and unlocking a spectrum of investment and development opportunities.<br><br>
            Book your table for the official launch of the proposed PPP projects showcasing the approved rollout plans and wide spectrum of investment and development opportunities for the design, finance, development, operate and maintenance of several civic office development with mixed use in the Germiston and Kempton park precincts.</p>
        </div>
        
        <div id="timer">
            <h3>20-21 November 2018</h3>
            <span id="days">{{days}}</span>days
            <span id="hours">{{hours}}</span>hours
            <span id="minutes">{{minutes}}</span>minutes
            <span id="seconds">{{seconds}}</span>seconds
          </div>
        <!-- /about content -->        
      </div>
    </div>
    <!-- row -->
  </div>