<div class="container">
    <div class="row d-flex justify-content-center" style="text-align: center;">
      <div class="col-md-8 pb-80 header-text">
        <h2 class="speaker_header">Our Speakers</h2>
      </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 speaker-wrap">
            <div class="single-speaker">
              <div class="content">                    
                <img height="250px" width="240px" alt="" style="cursor: pointer;" data-toggle="modal" data-target="#speaker1" src="../assets/images/mzwandile_masina.jpg">
               </div>
            </div><br>
              <h4>Mzwandile Masina</h4>
              <p>Ekurhuleni Mayor</p>
          </div>
      <!--<div class="col-lg-3 col-md-3 speaker-wrap">
        <div class="single-speaker">
          <div class="content">
                <div class="content-overlay"></div>
                 <img  height="250px" width="200px" alt="" src="../assets/images/MMC_for_Finance.jpg">
                  <div class="content-details fadeIn-bottom"></div>
           </div>
        </div><br>
          <h4>Richard Funzela Ngobeni</h4>
          <p>City’s MMC for Finance</p>
      </div>-->
      <div class="col-lg-4 col-md-4 speaker-wrap">
        <div class="single-speaker">
            <div class="content"> 
                 <img height="250px" width="200px" alt="" style="cursor: pointer;" data-toggle="modal" data-target="#speaker2" src="../assets/images/David_Makhura.jpg">
           </div>
        </div><br>
          <h4>David Makhura</h4>
          <p>Gauteng Premier</p>
      </div>
      <div class="col-lg-4 col-md-4 speaker-wrap">
        <div class="single-speaker">
            <div class="content"> 
                 <img height="250px" width="200px" alt="" style="cursor: pointer;" data-toggle="modal" data-target="#speaker3" src="../assets/images/Cyril_Ramaphosa.jpg">
           </div>
        </div>
        <br>
          <h4>Cyril Ramaphosa</h4>
          <p>President of the Republic</p>
      </div>

    </div>
  </div>