<div class="container">
    <div class="row d-flex justify-content-center" style="text-align: center;">
      <div class="col-md-8 pb-80 header-text">
        <h2>Our Speakers</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> labore  et dolore magna aliqua.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 speaker-wrap">
        <div class="single-speaker">
          <div class="content">
              <a href="#" target="_blank">
                <div class="content-overlay"></div>
                 <img class="content-image img-fluid d-block mx-auto" alt="" src="../assets/images/event_speaker_1.jpg">
                  <div class="content-details fadeIn-bottom"></div>
              </a>
           </div>
        </div><br> <br>
          <h4>Andy Florence</h4>
          <p>inappropriate behavior</p>
      </div>
      <div class="col-lg-4 col-md-4 speaker-wrap">
        <div class="single-speaker">
          <div class="content">
              <a href="#" target="_blank">
                <div class="content-overlay"></div>
                 <img class="content-image img-fluid d-block mx-auto" alt="" src="../assets/images/event_speaker_2.jpg">
                  <div class="content-details fadeIn-bottom"></div>
              </a>
           </div>
        </div><br> <br>
          <h4>Andy Florence</h4>
          <p>inappropriate behavior</p>
      </div>
      <div class="col-lg-4 col-md-4 speaker-wrap">
        <div class="single-speaker">
          <div class="content">
              <a href="#" target="_blank">
                <div class="content-overlay"></div>
                 <img class="content-image img-fluid d-block mx-auto" alt="" src="../assets/images/event_speaker_3.jpg">
                  <div class="content-details fadeIn-bottom"></div>
              </a>
           </div>
        </div>
        <br> <br>
          <h4>Andy Florence</h4>
          <p>inappropriate behavior</p>
      </div>

    </div>
  </div>