<!-- Header -->
<header id="header" class="transparent-navbar">
  <!-- container -->
  <!-- Logo -->

  <div class="navbar-brand center" style="width: -webkit-fill-available;">
    <a class="logo" href="#">
      <div id="timer">
        <!--  <h3 style="color: white;">20-21 November 2018</h3> -->
        <span id="days">{{days}}</span>days
        <span id="hours">{{hours}}</span>hours
        <span id="minutes">{{minutes}}</span>minutes
        <span id="seconds">{{seconds}}</span>seconds
      </div>
    </a>

  </div>
  <!-- Mobile toggle -->
  <button data-toggle="collapse" data-target="#mobileMenu" class="navbar-toggle margin_one" style="margin-top: -40px; position: absolute;background: transparent; border: none;font-size: 20px;">
    <i class="fa fa-align-justify"></i>
  </button>
  <!-- /Mobile toggle -->
  <div id="mobileMenu" class="collapse menu-backgroud">
    <ul>
      <li class="nav-item">
        <a href="#home" class="white">Home</a>
      </li>
      <li class="nav-item">
        <a href="#about" class="white">About</a>
      </li>
      <li class="nav-item">
        <a href="#schedule" class="white">Schedule</a>
      </li>
      <!-- <li class="nav-item">
        <a href="#speakers" class="white">Speakers</a>
      </li> -->
      <li class="nav-item">
        <a href="#package" class="white">Event Packages</a>
      </li>
      <!-- <li class="nav-item">
        <a href="#eventmap" class="white">Event Map</a>
      </li> -->
      <li class="nav-item">
        <a href="#contact" class="white">Contact Us</a>
      </li>
      <li class="nav-item" style="padding: 5px;">
        <a href="#" style="display: initial !important;" class="main-btn btn_padding" data-toggle="modal" data-target="#exampleModal">Register</a>
      </li>
    </ul>
  </div>
  <!-- /Logo -->
  <div class="container">
    <!-- navbar header -->
    <div class="navbar-header">
      <!-- /navbar header -->

      <!-- Navigation -->
      <ul class="nav main-nav navbar-right" id="nav" style="float: right!important;  margin-right: -140px; margin-top: -68px;
    padding: 15px;">
        <li class="nav-item menuitemhome" id="menuitemhome">
          <a href="#home">Home</a>
        </li>
        <li class="nav-item">
          <a href="#about">About</a>
        </li>
        <li class="nav-item">
          <a href="#schedule">Schedule</a>
        </li>
        <!--<li class="nav-item">
          <a href="#speakers">Speakers</a>
        </li>-->
        <li class="nav-item">
          <a href="#package">Event Packages</a>
        </li>
        <!--  <li class="nav-item">
          <a href="#eventmap">Event Map</a>
        </li>-->
        <li class="nav-item">
          <a href="#contact">Contact Us</a>
        </li>
        <li class="nav-item">
          <a href="#" style="display: initial !important;" class="main-btn" data-toggle="modal" data-target="#exampleModal">Register</a>
        </li>
      </ul>
    </div>
    <!-- /Navigation -->
  </div>
  <!-- /container -->
</header>
<!-- /Header -->

<!-- Home -->
<div id="home" class="mobile_home">
  <!-- background image 
  <img class="isNotMobile imgB1 home_background" height="80%" width="50%" src="../assets/images/background_new.png" />
  <img class="isNotMobile home_background" height="100%" width="100%" src="../assets/images/background_n.png" /> -->

  <!-- home wrapper -->
  <div class="home-wrapper">
    <app-home></app-home>
  </div>
  <!-- /home wrapper -->  
</div>
<!-- /Home -->

<!-- About -->
<div id="about" class="section">
  <!-- container -->
  <app-about></app-about>
  <!-- /container -->
</div>
<!-- /About -->

<!-- Event Schedule -->
<div id="schedule" class="section" style="background-color: ghostwhite;">
  <!-- container -->
  <app-programme></app-programme>
  <!-- /container -->
</div>
<!-- /Event Schedule -->

<!-- Speakers -->
<!--<div id="speakers" class="section">
  <app-speakers></app-speakers>
</div> -->
<!-- /Speakers -->

<!-- Package -->
<div id="package" class="section" style="padding: 0px !important;">
  <!-- container -->
  <app-package></app-package>
  <!-- /container -->
</div>
<!-- /Package -->

<!-- Event Map -->
<div id="package" id="eventmap" style="background-color: gray">
 <!--  container -->
<app-eventmap></app-eventmap>
  <!-- /container -->
</div>
 <!--/Event Map -->

<!-- Contact Us -->
<div id="contact" class="section">
  <!-- container -->
  <app-contactus></app-contactus>
  <!-- /container -->
</div>
<!-- /Contact -->

<!-- Footer -->
<footer id="footer" style="background-color: ghostwhite;">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <!-- copyright -->
      <div class="col-md-6 col-md-pull-6">
        <small> &copy; 2018 - Zethu Consulting Services</small>
      </div>
      <!-- /copyright -->
      <div class="col-md-6 col-md-pull-6 phone_footer_20" style="margin-top: -10px;text-align: right;">
        <a href="https://twitter.com" style="padding-right: 5px;" target="_blank"><img src="../assets/images/twitter.png"
          /></a>
        <a href="https://www.linkedin.com" style="padding-right: 5px;" target="_blank"><img src="../assets/images/linkedin.png"
          /></a>
        <a href="https://www.facebook.com" style="padding-right: 5px;" target="_blank"> <img src="../assets/images/facebook.png"
          /></a>
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</footer>
<!-- /Footer -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Register</h5>
        <button type="button" class="close" data-dismiss="modal" id="closeModel" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form *ngIf="!isOpen">
          <div class="form-group">
            <label for="exampleInputEmail1">Please enter your verification code.</label>
            <input [value]="verificationCode" [ngModelOptions]="{standalone: true}" (input)="verificationCode = $event.target.value"
              type="text" [(ngModel)]="verificationCode" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="Enter Code">
            <small *ngIf="codeError" id="emailHelp" class="form-text text-muted" style="color: red !important; font-size:small;text-align:center">Please
              enter the verification code that you received on the email.</small>
          </div>
        </form>
        <form *ngIf="isOpen && !showSuc" [formGroup]="userForm">

          <div class="form-row">
            <div class="form-group col-md-2">
              <label for="inputEmail4">Title</label>
              <div class="dropdown show">
                <a class="btn btn-secondary dropdown-toggle" style="background-color: transparent;
                      color: #4e555b;
                      border-color: #ced4da;" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  {{titleText}}
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="#" (click)="setTitle('Mr')">Mr</a>
                  <a class="dropdown-item" href="#" (click)="setTitle('Mrs')">Mrs</a>
                  <a class="dropdown-item" href="#" (click)="setTitle('Miss')">Miss</a>
                  <a class="dropdown-item" href="#" (click)="setTitle('Ms')">Ms</a>
                  <a class="dropdown-item" href="#" (click)="setTitle('Mx')">Prof</a>
                  <a class="dropdown-item" href="#" (click)="setTitle('Dr')">Dr</a>
                </div>
              </div>
            </div>
            <div class="form-group col-md-10">
              <label for="exampleInputEmail1">Name</label>
              <input [(ngModel)]="guest.name" [value]="guest.name" formControlName="name" (input)="guest.name = $event.target.value" type="text"
                class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter name">
              <small *ngIf="!userForm.controls.name.valid && (userForm.controls.name.dirty || submitAttempt)" class="red">The
                field above is required.</small>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Surname</label>
            <input [(ngModel)]="guest.surname" [value]="guest.surname" formControlName="surname" (input)="guest.surname = $event.target.value"
              type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter surname">
            <small *ngIf="!userForm.controls.surname.valid && (userForm.controls.surname.dirty || submitAttempt)" class="red">The
              field above is required.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Organization</label>
            <input [(ngModel)]="guest.organization" [value]="guest.organization" formControlName="organization" (input)="guest.organization = $event.target.value"
              type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Organization">
            <small *ngIf="!userForm.controls.organization.valid && (userForm.controls.organization.dirty || submitAttempt)" class="red">The
              field above is required.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Role/ Title</label>
            <input [(ngModel)]="guest.role" [value]="guest.role" formControlName="role" (input)="guest.role = $event.target.value" type="text"
              class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Role/ Title">
            <small *ngIf="!userForm.controls.role.valid && (userForm.controls.role.dirty || submitAttempt)" class="red">The
              field above is required.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email Address</label>
            <input [(ngModel)]="guest.email" [value]="guest.email" formControlName="email" (input)="guest.email = $event.target.value"
              type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small *ngIf="!userForm.controls.email.valid && (userForm.controls.email.dirty || submitAttempt)" class="red">The
              field above is required.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Cell Number</label>
            <input [(ngModel)]="guest.contactNumber" [value]="guest.contactNumber" formControlName="contactNumber" (input)="guest.contactNumber = $event.target.value"
            type="text" pattern="\d*" maxlength="10" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Phone Number">
            <small *ngIf="!userForm.controls.contactNumber.valid && (userForm.controls.contactNumber.dirty || submitAttempt && !alreadyconfirmed)"
              class="red">The field above is required.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Office Number</label>
            <input [(ngModel)]="guest.officeNumber" [value]="guest.officeNumber" formControlName="officeNumber" (input)="guest.officeNumber = $event.target.value"
            type="text" pattern="\d*" maxlength="10" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Phone Number">
            <small *ngIf="!userForm.controls.officeNumber.valid && (userForm.controls.officeNumber.dirty || submitAttempt)" class="red">The
              field above is required.</small>
          </div>
        </form>
        <form *ngIf="showSuc && !alreadyconfirmed">
          <div class="form-group">
            <label style="color: green;">Thank you for your confirmation. Please find more details in your confirmation email.</label>
          </div>
        </form>
        <form *ngIf="alreadyconfirmed">
          <div class="form-group">
            <label style="color: green;">You are already registered.</label>
          </div>
        </form>


      </div>
      <div class="modal-footer">
        <small *ngIf="showError" style="color: red;font-size:small;text-align:center"> We are unable to confirm your code
          please make sure that you entered the correct code.</small>

        <button type="button" (click)="procced()" class="btn btn-primary" *ngIf="!isOpen">Proceed</button>
        <button type="button" (click)="onSubmit()" class="btn btn-primary" *ngIf="isOpen && !showSuc">Confirm</button>
        <button type="button" class="close" data-dismiss="modal" id="closeModel" aria-label="Close" class="btn btn-primary" *ngIf="showSuc">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="package1Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Bronze Partnership @ R10 000.00</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label>Bronze Partnership Package will include one of the followings:</label>
        <div class="row">
          <div class="col-lg-12">
            <p style="font-size: 12px;">
              <b>Conference Tote Bag </b><br> • Distributed to all attendees and exhibitors upon arrival at the conference
              with your marketing and promotional material.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <p style="font-size: 12px;">
              • One representative from the partnering organisation to attend the entire conference and Gala Dinner with the freedom to
              purchase extra tickets for a table that can be branded.<br>

            </p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="apply('Bronze Partnership @ R10 000.00')" class="btn btn-primary" data-toggle="modal" data-target="#packageModal">Apply</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="package2Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Silver Partnership @ R25 000.00</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label>Silver Partnership Package will include one of the followings:</label>
        <div class="row">
          <div class="col-lg-12">
            <p style="font-size: 12px;">
              <b> Refreshment break</b><br> 
              • Signs at the refreshment break to promote your company as the partner.<br><br>       

              <b> Gala Dinner</b><br> 
              • Reserved 1 x tables for up to 10.<br>  
              • Half page and colour advertisement in the Public Private Partnership Conference Brochure.<br>  
              • The workbook will be distributed to all conference attendees and exhibitors.<br> 
              • Up to ten (10) representatives from the partnering organisation to attend the entire conference.<br>  
            </p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="apply('Silver Partnership @ R25 000.00')" class="btn btn-primary" data-toggle="modal" data-target="#packageModal">Apply</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="package3Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Gold Partnership @ R50 000.00</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label>Gold Partnership Package will include one of the followings:</label>
        <div class="row">
          <div class="col-lg-12">
            <p style="font-size: 12px;">
              <b>Your Company banner </b><br> 
              • Includes 2 pull-up banners to be placed at the entrance of the conference venue.<br> 
              • Artwork is submitted by client.<br><br>
              <b>Gala Dinner</b><br>
              • Reserved 1 x tables for up to 10 people.<br> 
              • Half page and colour advertisement in the Public Private Partnership Conference Brochure.<br>              
              • The workbook will be distributed to all conference attendees.<br>
              • Up to ten (10) representatives from the partnering organisation to attend the entire conference.<br>
              • 3x3 Exhibition space with 2 chairs, 1 table and power supply.<br>
              • Mentions on the Executive mayor’s speech, during interviews and by the programme director.<br>
            </p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="apply('Gold Partnership @ R50 000.00')" class="btn btn-primary" data-toggle="modal" data-target="#packageModal">Apply</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->

<!-- Modal -->
<div class="modal fade" id="package4Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Platinum Partnership @ R100 000.00</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label>Partnership Package will include one of the followings:</label>
        <div class="row">
          <div class="col-lg-12">
            <p style="font-size: 12px;">
              <b> Gala Dinner </b><br> 
                • Reserved table for up to 10 people at VIP section.<br> 
                • Company logos or adverting material displayed on the screens.<br> <br>

              <b> Registration Area </b><br> 
                • Logo included on the screen looping that welcomes the delegates.<br><br>             
                
              <b> Exclusivity </b><br> 
              • Exclusive partnering rights – company executives invited to be part of the Executive Mayor’s holding room.<br>
              • Full page and colour advertisement in the Public Private Partnership Conference Brochure and Website. The brochure will be distributed to all conference attendees.<br>
              • Company logo to appear on all marketing platforms (social and printed media).<br>
              • Up to twenty (20) representatives from the partnering organisation to attend the entire conference and Gala Dinner.<br>
              • Your company’s corporate logo displayed in ads and materials promoting the conference Includes 2 full wall banners to be placed inside the conference venue. Banners to be submitted by client.<br>
              • 3x3 Exhibition space with 2 chairs, 1 table and power supply.<br>
              • Logo on co-branded media backdrop.<br>
              • Mentions on the Executive mayor’s speech, during interviews and by the programme director.<br>
              • Logo on the media statement.<br>
            </p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="apply('Platinum Partnership @ R100 000.00')" class="btn btn-primary" data-toggle="modal" data-target="#packageModal">Apply</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="speaker1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Mzwandile Masina</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Ekurhuleni Mayor
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="speaker2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">David Makhura</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Gauteng Premier
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="speaker3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cyril Ramaphosa</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        President of the Republic
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="packageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Register</h5>
        <button type="button" class="close" data-dismiss="modal" id="closeModel" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form *ngIf="!applyIsComplete" [formGroup]="partnerForm">

          <div class="form-row">
            <div class="form-group col-md-2">
              <label for="inputEmail4">Title</label>
              <div class="dropdown show">
                <a class="btn btn-secondary dropdown-toggle" style="background-color: transparent;
                        color: #4e555b;
                        border-color: #ced4da;" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  {{packageText}}
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="#" (click)="setPartnerTitle('Mr')">Mr</a>
                  <a class="dropdown-item" href="#" (click)="setPartnerTitle('Mrs')">Mrs</a>
                  <a class="dropdown-item" href="#" (click)="setPartnerTitle('Miss')">Miss</a>
                  <a class="dropdown-item" href="#" (click)="setPartnerTitle('Ms')">Ms</a>
                  <a class="dropdown-item" href="#" (click)="setPartnerTitle('Mx')">Prof</a>
                  <a class="dropdown-item" href="#" (click)="setPartnerTitle('Dr')">Dr</a>
                </div>
              </div>
            </div>
            <div class="form-group col-md-10">
              <label for="exampleInputEmail1">Name</label>
              <input [(ngModel)]="partner.name" [value]="partner.name" formControlName="name" (input)="partner.name = $event.target.value"
                type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter name">
              <small *ngIf="!partnerForm.controls.name.valid && (partnerForm.controls.name.dirty || partnerSubmitAttempt)" class="red">The
                field above is required.</small>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Surname</label>
            <input [(ngModel)]="partner.surname" [value]="partner.surname" formControlName="surname" (input)="partner.surname = $event.target.value"
              type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter surname">
            <small *ngIf="!partnerForm.controls.surname.valid && (partnerForm.controls.surname.dirty || partnerSubmitAttempt)" class="red">The
              field above is required.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Organization</label>
            <input [(ngModel)]="partner.organization" [value]="partner.organization" formControlName="organization" (input)="partner.organization = $event.target.value"
              type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Organization">
            <small *ngIf="!partnerForm.controls.organization.valid && (partnerForm.controls.organization.dirty || partnerSubmitAttempt)"
              class="red">The field above is required.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Role/ Title</label>
            <input [(ngModel)]="partner.role" [value]="partner.role" formControlName="role" (input)="partner.role = $event.target.value"
              type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Role/ Title">
            <small *ngIf="!partnerForm.controls.role.valid && (partnerForm.controls.role.dirty || partnerSubmitAttempt)" class="red">The
              field above is required.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email Address</label>
            <input [(ngModel)]="partner.email" [value]="partner.email" formControlName="email" (input)="partner.email = $event.target.value"
              type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small *ngIf="!partnerForm.controls.email.valid && (partnerForm.controls.email.dirty || partnerSubmitAttempt)" class="red">The
              field above is required.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Cell Number</label>
            <input [(ngModel)]="partner.contactNumber" [value]="partner.contactNumber" formControlName="contactNumber" (input)="partner.contactNumber = $event.target.value"
              type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Phone Number">
            <small *ngIf="!partnerForm.controls.contactNumber.valid && (partnerForm.controls.contactNumber.dirty || partnerSubmitAttempt)"
              class="red">The field above is required.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Office Number</label>
            <input [(ngModel)]="partner.officeNumber" [value]="partner.officeNumber" formControlName="officeNumber" (input)="partner.officeNumber = $event.target.value"
              type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Phone Number">
            <small *ngIf="!partnerForm.controls.officeNumber.valid && (partnerForm.controls.officeNumber.dirty || partnerSubmitAttempt)"
              class="red">The field above is required.</small>
          </div>
        </form>
        <form *ngIf="applyIsComplete">
          <div class="form-group">
            <label style="color: green;">Congratulations! You are now a partner.</label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <small *ngIf="showPackageError" style="color: red;font-size:small;text-align:center"> We are unable to process your
          request please try again later.</small>
        <button type="button" (click)="submitPackage()" class="btn btn-primary" *ngIf="!applyIsComplete">Submit</button>
      </div>
    </div>
  </div>
</div>