<div class="container">
    <!-- row -->
    <!-- section title -->
    <div class="section-title">
      <h3 class="title"><span style="color: #FFFFFF"> Partnership </span> </h3>
    </div>
    <!-- /section title -->
    <div class="row">
        <div class="col-lg-4 col-md-4 speaker-wrap">
            <div class="single-speaker">
              <div class="content">                    
                <img height="100px" alt="" style="cursor: pointer;" src="../assets/images/powerFM.png">
               </div>
            </div>
          </div>
    
    </div>
    <!-- row -->
    <br><br>
  </div>