<div class="container">
    <!-- row -->
    <div class="row text-center">
        <div class="col-sm-12 section-title">
            <h3 class="title"><span>Contact Info</span></h3>
          </div>
    </div>
    <div class="row">
      <!-- section title -->
     
      <!-- /section title -->

      <!-- contact -->
      <div class="col-sm-6">
        <div class="contact">
          <h4>Address</h4>
          <p>Emperors Palace<br>
            64 Jones Rd, O.R. Tambo, Kempton Park, 1620K</p>
        </div>
      </div>
      <!-- /contact -->

      <!-- contact -->
      <div class="col-sm-2">
        <div class="contact">
          <h4>Phone</h4>
          <p>011 123 4567</p>
        </div>
      </div>
      <!-- /contact -->

      <!-- contact -->
      <div class="col-sm-4">
        <div class="contact">
          <h4>Email</h4>
          <a href="mailto:info@mail.com">info@mail.com</a>
        </div>
      </div>
      <!-- /contact -->

    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
  <!-- Map -->
  <div>
      <img class="content-image img-fluid d-block mx-auto" alt="" src="../assets/images/map.PNG">
  </div>
  <!-- /Map -->