<div class="container">
    <!-- row -->
    <div class="row">
      <!-- section title -->
      <div class="section-title">
        <h3 class="title"><span>Contact Info</span></h3>
      </div>
      <!-- /section title -->

      <!-- contact -->
      <div class="col-sm-4">
        <div class="contact">
          <h4>Address</h4>
          <p>2635 Simons Hollow Road, NEW YORK</p>
        </div>
      </div>
      <!-- /contact -->

      <!-- contact -->
      <div class="col-sm-4">
        <div class="contact">
          <h4>Phone</h4>
          <p>570-751-2415</p>
        </div>
      </div>
      <!-- /contact -->

      <!-- contact -->
      <div class="col-sm-4">
        <div class="contact">
          <h4>Email</h4>
          <a href="#">event@support.com</a>
        </div>
      </div>
      <!-- /contact -->

    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
  <!-- Map -->
  <div>
      <img class="content-image img-fluid d-block mx-auto" alt="" src="../assets/images/map.PNG">
  </div>
  <!-- /Map -->