<!-- container -->
<div class="container">
    <!-- row -->
    <div class="row">
      <!-- home content -->
      <div class="col-md-12 col-md-offset-2">
        <div class="home-content home_content">
          <!--<h1>Lorem ipsum dolor sit amet</h1>
          <h4 class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h4>
          <a href="#" class="main-btn">Register</a>
        
           -->
           <h3 style="color:#ffffff;margin-left: 300px;" class="zero-marge font_12">20-21 November 2018</h3>
      </div>
      <!-- /home content -->
    </div>
    <!-- /row -->
  </div>
  <div id="carouselExampleIndicators" class="carousel slide carousel_mobile" data-ride="carousel">
      <div class="carousel-inner" style="text-align: center;">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-lg-4 col-md-12">
              <a href="http://www.treasury.gov.za"><img height="110px" class="d-block w-100" src="../assets/images/logo1.png" alt="Second slide"></a>
            </div>           
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-lg-4 col-md-12">
              <a href="http://www.treasury.gov.za"><img height="110px" class="d-block w-100" src="../assets/images/national_treasury.png" alt="Second slide"></a>
            </div>           
          </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                  <a href="http://www.gauteng.gov.za/Pages/index.aspx"><img  height="110px" class="d-block w-100" src="../assets/images/gauteng1.png" alt="Second slide"></a>
                </div>                
        </div>
      </div>
    </div>
  <!-- /container -->