<!-- container -->
<div class="container"> 
    </div>
    <div id="carouselExampleIndicators" class="carousel slide carousel_mobile" style="background:white;bottom: -34px;" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row img_height_m" style="margin-left: 40%;">
            <div class="col-lg-12 col-md-12">
              <a href="https://www.ekurhuleni.gov.za/" target="_blank"><img height="90px" class="d-block" src="../assets/images/coe_logo.png" alt="Second slide"></a>
            </div>           
          </div>
        </div>
        <div class="carousel-item">
          <div class="row img_height_m" style="margin-left: 40%;">
            <div class="col-lg-12 col-md-12">
              <a href="http://www.treasury.gov.za" target="_blank"><img height="90px" class="d-block" src="../assets/images/national_treasury.png" alt="Second slide"></a>
            </div>           
          </div>
        </div>
        <div class="carousel-item">
            <div class="row img_height_m" style="margin-left: 40%;">
                <div class="col-lg-12 col-md-12">
                  <a href="http://www.gauteng.gov.za/Pages/index.aspx" target="_blank"><img height="90px" class="d-block" src="../assets/images/gauteng1.png" alt="Second slide"></a>
                </div>                
        </div>
      </div>
    </div>
  </div>
  <!-- /container -->