<!-- container -->
<div class="container">
    <!-- row -->
    <div class="row">
      <!-- home content -->
      <div class="col-md-12 col-md-offset-2">
        <div class="home-content home_content">
          <!--<h1>Lorem ipsum dolor sit amet</h1>
          <h4 class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h4>
          <a href="#" class="main-btn">Register</a>
        
           -->
           <h3 style="color:#ffffff;margin-left: 300px;">20-21 November 2018</h3>
      </div>
      <!-- /home content -->
    </div>
    <!-- /row -->
  </div>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-lg-4 col-md-4">
                <img class="d-block w-100" height="50px" src="../assets/images/logo1.png" alt="Second slide">
            </div>
            <div class="col-lg-4 col-md-4" style="color:white; text-align: left">
                COE: Name Surname<br>
                National Treasury: Name Surname<br>
                Gauteng Province: Name Surname<br>
            </div>
            <div class="col-lg-4 col-md-4" style="color:white; position: absolute; bottom: 0; right: 0;">
              <a href="www.website.co.za" style="color:white !important">www.website.co.za</a>
            </div>
          </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <img class="d-block w-100" height="50px" src="../assets/images/logo1.png" alt="Second slide">
                </div>
                <div class="col-lg-4 col-md-4" style="color:white; text-align: left">
                    COE: Name Surname<br>
                    National Treasury: Name Surname<br>
                    Gauteng Province: Name Surname<br>
                </div>
                <div class="col-lg-4 col-md-4" style="color:white; position: absolute; bottom: 0; right: 0;">
                  <a href="www.website.co.za" style="color:white !important">www.website.co.za</a>
                </div>
              </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <img class="d-block w-100" height="50px" src="../assets/images/logo1.png" alt="Second slide">
                </div>
                <div class="col-lg-4 col-md-4" style="color:white; text-align: left">
                    COE: Name Surname<br>
                    National Treasury: Name Surname<br>
                    Gauteng Province: Name Surname<br>
                </div>
                <div class="col-lg-4 col-md-4" style="color:white; position: absolute; bottom: 0; right: 0;">
                  <a href="www.website.co.za" style="color:white !important">www.website.co.za</a>
                </div>
              </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  <!-- /container -->