<div class="container">
    <!-- row -->
    <div class="row">
      <!-- section title -->
      <div class="col-md-12 text-center section-title">
        <h3 class="title"><span>Event Schedule</span></h3>
      </div>
      <!-- /section title -->
      </div>
      <div class="row">
          <div class="col-md-4">
            </div>
      <div class="col-md-8">

        <div class="events-wrapper">
          <!-- event -->
          <div class="event">
            <div class="event-day">
              <div>
                <span class="day">Main Event</span>
                <span class="year">20 Nov, 2018</span>
              </div>
            </div>
            <div class="event-content">
              <p class="event-time"><i class="fa fa-clock-o"></i> 08 : 00 AM - 08 : 45 AM</p>
              <h3 class="event-title">Registration &amp; Refreshments</h3>
            </div>
          </div>
          <!-- /event -->

          <!-- event -->
          <div class="event">
            <div class="event-hour"></div>
            <div class="event-content">
              <p class="event-time"><i class="fa fa-clock-o"></i> 08 : 45 AM - 09 : 00 AM</p>
              <h3 class="event-title">Official Opening</h3>
               <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <p>By <a href="#">John Doe</a></p>-->
            </div>
          </div>
          <!-- /event -->

          <!-- event -->
          <div class="event">
            <div class="event-hour"></div>
            <div class="event-content">
              <p class="event-time"><i class="fa fa-clock-o"></i> 09 : 00 AM - 09 : 30 AM</p>
              <h3 class="event-title">Mayor’s Address</h3>
              <p>By <a href="#">Imogen Mashazi (Dr)</a></p>
            </div>
          </div>
          <!-- /event -->

           <!-- event -->
           <div class="event">
              <div class="event-hour"></div>
              <div class="event-content">
                <p class="event-time"><i class="fa fa-clock-o"></i> 09 : 30 AM - 10 : 00 AM</p>
                <h3 class="event-title">Treasury – PPP agenda for RSA</h3>
                <p>By <a href="#">Speaker 1</a></p>
              </div>
            </div>
            <!-- /event -->

             <!-- event -->
           <div class="event">
              <div class="event-hour"></div>
              <div class="event-content">
                <p class="event-time"><i class="fa fa-clock-o"></i> 10 : 00 AM - 10 : 30 AM</p>
                <h3 class="event-title">City at a glance</h3>
                <p>By <a href="#">Speaker 2</a></p>
              </div>
            </div>
            <!-- /event -->

             <!-- event -->
           <div class="event">
              <div class="event-hour"></div>
              <div class="event-content">
                <p class="event-time"><i class="fa fa-clock-o"></i> 10 : 30 AM - 11 : 00 AM</p>
                <h3 class="event-title">Why invest in COE</h3>
                <p>By <a href="#">Speaker 1</a></p>
              </div>
            </div>
            <!-- /event -->

          <!-- event -->
          <div class="event">
              <div class="event-hour"></div>
            <div class="event-content">
              <p class="event-time"><i class="fa fa-clock-o"></i> 11 : 00 AM - 11 : 30 AM</p>
              <h3 class="event-title">Networking Coffee Break</h3>
            </div>
          </div>
          <!-- /event -->

          <!-- event -->
          <div class="event">
            <div class="event-hour"></div>
            <div class="event-content">
              <p class="event-time"><i class="fa fa-clock-o"></i> 11 : 30 AM - 12 : 00 PM</p>
              <h3 class="event-title">COE Real Estate Portfolio Strategy</h3>
              <p>By <a href="#">Speaker 4</a></p>
            </div>
          </div>
          <!-- /event -->
          <!-- event -->
          <div class="event">
              <div class="event-hour"></div>
              <div class="event-content">
                <p class="event-time"><i class="fa fa-clock-o"></i> 12 : 00 PM - 12 : 30 PM</p>
                <h3 class="event-title">Funding Models of PPP – Deloitte/Sizwe Ntsaluba Gobodo/EY</h3>
                <p>By <a href="#">Speaker 5</a></p>
              </div>
            </div>
            <!-- /event -->
             <!-- event -->
          <div class="event">
              <div class="event-hour"></div>
              <div class="event-content">
                <p class="event-time"><i class="fa fa-clock-o"></i> 12 : 30 PM - 13 : 30 PM</p>
                <h3 class="event-title">Networking Lunch</h3>
              </div>
            </div>
            <!-- /event -->
            <!-- event -->
          <div class="event">
              <div class="event-hour"></div>
              <div class="event-content">
                <p class="event-time"><i class="fa fa-clock-o"></i> 13 : 30 PM - 14 : 00 PM</p>
                <h3 class="event-title">Role of RSA DFI in PPP – IDC/PIC</h3>
                <p>By <a href="#">Speaker 7</a></p>
              </div>
            </div>
            <!-- /event -->

             <!-- event -->
          <div class="event">
              <div class="event-hour"></div>
              <div class="event-content">
                <p class="event-time"><i class="fa fa-clock-o"></i> 14 : 00 PM - 15 : 00 PM</p>
                <h3 class="event-title">COE investment opportunities</h3>
                 <p><b>o</b> Project 1 (15min) <b>o</b> Project 2 (15min) <br> <b>o</b> Project 3 (15min) <b>o</b> Project 4 (15min)</p>
                <p style="margin-top: -20px;">By <a href="#">Speaker 8</a></p>
              </div>
            </div>
            <!-- /event -->
            <!-- event -->
          <div class="event">
              <div class="event-hour"></div>
              <div class="event-content">
                <p class="event-time"><i class="fa fa-clock-o"></i> 15 : 00 PM - 15 : 30 PM</p>
                <h3 class="event-title">Panel Discussion</h3>
              </div>
            </div>
            <!-- /event -->

            <!-- event -->
          <div class="event">
              <div class="event-hour"></div>
              <div class="event-content">
                <p class="event-time"><i class="fa fa-clock-o"></i> 15 : 30 PM - 16 : 00 PM</p>
                <h3 class="event-title">Networking Coffee Break</h3>
              </div>
            </div>

            <!-- event -->
          <div class="event">
              <div class="event-hour"></div>
              <div class="event-content">
                <p class="event-time"><i class="fa fa-clock-o"></i> 16 : 00 PM - 16 : 30 PM</p>
                <h3 class="event-title">Province (GP infrastructure programmes)</h3>
              </div>
            </div>
            <!-- /event -->
            <!-- event -->
          <div class="event">
              <div class="event-hour"></div>
              <div class="event-content">
                <p class="event-time"><i class="fa fa-clock-o"></i> 16 : 30 PM - 17 : 00 PM</p>
                <h3 class="event-title">Closing</h3>
                <p>By <a href="#">Speaker 9</a></p>
              </div>
            </div><div class="event">
                <div class="event-hour"></div>
                <div class="event-content">
                  <p class="event-time"><i class="fa fa-clock-o"></i> 17 : 00 PM - 17 : 30 PM</p>
                  <h3 class="event-title">End of Conference</h3>
                </div>
              </div>
               <!-- event -->
          <div class="event">
              <div class="event-hour"></div>
              <div class="event-content" style="margin-bottom: 0px !important;">
                <p class="event-time"><i class="fa fa-clock-o"></i> 17 : 30 PM -  19 : 00 PM</p>
                <h3 class="event-title">Cocktail Drinks Reception</h3>
              </div>
            </div>
            <!-- /event -->
             
              <!--  <div class="event">
                    <div class="event-day">
                      <div>
                        <span class="day">The Gala Dinner</span>
                        <span class="year">20 Nov, 2018</span>
                      </div>
                    </div>
                    <div class="event-content">
                      <p class="event-time"><i class="fa fa-clock-o"></i> 19 : 00 PM - 20 : 00 PM</p>
                      <h4 class="event-title">Gala Dinner Starts</h4>
                      <p><b>o</b> Opening address <br>
                        <b>o</b> COE (Mayor/City Manager)
                      </p>
                    </div>
                  </div>

                  
          <div class="event">
              <div class="event-hour"></div>
              <div class="event-content">
                  <p class="event-time"><i class="fa fa-clock-o"></i> 20 : 00 PM - 21 : 00 PM</p>
                  <h4 class="event-title">Musical item &amp; first course</h4>
                  <p><b>o</b> Presidency/National Government <br>
                    <b>o</b> Province
                  </p>
                </div>
            </div>
         
          <div class="event">
              <div class="event-hour"></div>
              <div class="event-content">
                  <p class="event-time"><i class="fa fa-clock-o"></i> 21 : 00 PM - 20 : 00 PM</p>
                  <h4 class="event-title">Musical item &amp; 2nd course</h4>
                  <p><b>o</b> World bank <br>
                    <b>o</b> Real estate <br>
                    <b>o</b> Musical item &amp; 3rd course
                  </p>
                </div>
            </div>
           
          <div class="event">
              <div class="event-hour"></div>
              <div class="event-content" style="margin-bottom: 0px !important;">
                  <p class="event-time"><i class="fa fa-clock-o"></i> 20 : 00 PM</p>
                  <h4 class="event-title">End of Gala Dinner</h4>
                </div>
            </div>-->
            <!-- /event -->

                  <div class="event">
                      <div class="event-day">
                        <div>
                          <span class="day">CITY TOUR</span>
                          <span class="year">21 Nov, 2018</span>
                        </div>
                      </div>
                      <div class="event-content">
                        <p class="event-time"><i class="fa fa-clock-o"></i> 08 : 30 AM - 13 : 00 PM</p>
                        <h4 class="event-title">City Tour</h4>
                      </div>
                    </div>
    
        </div>
<!-- 
        <div class="download-btn">
          <a href="#" class="main-btn">Download Schedule</a>
        </div>
-->
      </div>
    </div>
    <!-- /row -->
    <br><br><br><br><br>
  </div>