<div class="container">
    <img class="margin_zero" style="position: absolute;
    background-size: cover;
    margin-top: 300px;
    margin-left: 400px;
    opacity: 0.09; filter:alpha(opacity=50); background-repeat: no-repeat, repeat;" src="../assets/images/background122.png" />
    <!-- row -->
    <div class="row">
      <!-- section title -->
      <div class="col-md-12 text-center section-title">
        <h3 class="title"><span>Event Schedule</span></h3>
      </div>
      <!-- /section title -->
      </div>
      <div class="row">
          <div class="col-md-4">
            </div>
      <div class="col-md-8">

        <div class="events-wrapper">
          <!-- event -->
          <div class="event">
            <div class="event-day">
              <div>
                <span class="day">Main Event</span>
                <span class="year">5 Dec, 2018</span>
              </div>
            </div>
            <div class="event-content">
              <p class="event-time"><i class="fa fa-clock-o"></i> 08 : 00 AM - 08 : 50 AM</p>
              <h3 class="event-title">Registration &amp; Refreshments</h3>
            </div>
          </div>
          <!-- /event -->

          <!-- event -->
          <div class="event">
            <div class="event-hour"></div>
            <div class="event-content">
              <p class="event-time"><i class="fa fa-clock-o"></i> 08 : 50 AM - 09 : 00 AM</p>
              <h3 class="event-title sub_header">Official Opening</h3>
               <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <p>By <a href="#">John Doe</a></p>-->
            </div>
          </div>
          <!-- /event -->

          <!-- event -->
          <div class="event">
            <div class="event-hour"></div>
            <div class="event-content">
              <p class="event-time"><i class="fa fa-clock-o"></i> 09 : 00 AM - 09 : 30 AM</p>
              <h3 class="event-title sub_header">Executive Mayor’s Address</h3>
              <!--<p>By <a href="#">Cllr. Mzwandile Masine: Executive Mayor</a></p>-->
            </div>
          </div>
          <!-- /event -->

           <!-- event -->
           <div class="event">
              <div class="event-hour"></div>
              <div class="event-content">
                <p class="event-time"><i class="fa fa-clock-o"></i> 09 : 30 AM - 09 : 45 AM</p>
                <h3 class="event-title sub_header">City of Ehurhuleni at a glance</h3>
                <!--<p>By <a href="#">Dr. Imogen Mashazi: City Manager</a></p>-->
              </div>
            </div>
            <!-- /event -->

             <!-- event -->
           <div class="event">
              <div class="event-hour"></div>
              <div class="event-content">
                <p class="event-time"><i class="fa fa-clock-o"></i> 09 : 45 AM - 10 : 10 AM</p>
                <h3 class="event-title sub_header">Why invest in City of Ehurhuleni</h3>
                <!--<p>By <a href="#">Cllr. Nkosiphanndile Xhakaza, MMC of Finance</a></p>-->
              </div>
            </div>
            <!-- /event -->

             <!-- event -->
           <div class="event">
              <div class="event-hour"></div>
              <div class="event-content">
                <p class="event-time"><i class="fa fa-clock-o"></i> 10 : 10 AM - 10 : 30 AM</p>
                <h3 class="event-title sub_header">National Treasury's Public Private Partnership Agenda</h3>
               <!-- <p>By <a href="#">Mr. Tito Mboweni: Hon. Minister of Finance</a></p>-->
              </div>
            </div>
            <!-- /event -->

            <!-- event -->
          <div class="event">
              <div class="event-hour"></div>
            <div class="event-content">
              <p class="event-time"><i class="fa fa-clock-o"></i> 10 : 30 AM - 11 : 00 AM</p>
              <h3 class="event-title sub_header">Panel Discussion</h3>
            </div>
          </div>
          <!-- /event -->

          <!-- event -->
          <div class="event">
              <div class="event-hour"></div>
            <div class="event-content">
              <p class="event-time"><i class="fa fa-clock-o"></i> 11 : 00 AM - 11 : 30 AM</p>
              <h3 class="event-title">Networking Coffee Break</h3>
            </div>
          </div>
          <!-- /event -->

          <!-- event -->
          <div class="event">
            <div class="event-hour"></div>
            <div class="event-content">
              <p class="event-time"><i class="fa fa-clock-o"></i> 11 : 30 AM - 11 : 50 AM</p>
              <h3 class="event-title sub_header">Significance of RSA/DFI in unlocking Public Private Partnership</h3>
             <!-- <p>By <a href="#">PIC/DBSA representative</a></p>-->
            </div>
          </div>
          <!-- /event -->
          <!-- event -->
          <div class="event">
              <div class="event-hour"></div>
              <div class="event-content">
                <p class="event-time"><i class="fa fa-clock-o"></i> 11 : 50 AM - 12 : 10 AM</p>
                <h3 class="event-title sub_header">Public Private Partnership Financing and investment Models</h3>
                <!--<p>By <a href="#">National Treasury's PPP Unit representative</a></p>-->
              </div>
            </div>
            <!-- /event -->
             <!-- event -->
             <div class="event">
                <div class="event-hour"></div>
                <div class="event-content">
                  <p class="event-time"><i class="fa fa-clock-o"></i> 12 : 10 PM - 12 : 30 PM</p>
                  <h3 class="event-title sub_header">Benchmaking Public Private Partnership Procurement Models</h3>
                 <!-- <p>By <a href="#">De Buys Scott: KPMG Sourthern Africa</a></p>-->
                </div>
              </div>
            <!-- /event -->
            <!-- event -->
          <div class="event">
              <div class="event-hour"></div>
              <div class="event-content">
                <p class="event-time"><i class="fa fa-clock-o"></i> 12 : 30 PM - 13 : 00 PM</p>
                <h3 class="event-title sub_header">Panel Discussion</h3>
              </div>
            </div>
            <!-- /event -->

               <!-- event -->
          <div class="event">
              <div class="event-hour"></div>
              <div class="event-content">
                <p class="event-time"><i class="fa fa-clock-o"></i> 13 : 00 PM - 14 : 00 PM</p>
                <h3 class="event-title">Networking Lunch</h3>
              </div>
            </div>
             <!-- event -->
          <div class="event">
              <div class="event-hour"></div>
              <div class="event-content">
                <p class="event-time"><i class="fa fa-clock-o"></i> 14 : 00 PM - 14 : 10 PM</p>
                <h3 class="event-title sub_header">City's Real Estate Protfolio Management Programmes (AudioV)</h3>
               <!-- <p>By <a href="#">Ms. Mabela Jonathan: AHOD: Real Estate</a></p>-->
              </div>
            </div>
            <!-- /event -->
            <!-- event -->
          <div class="event">
              <div class="event-hour"></div>
              <div class="event-content">
                <p class="event-time"><i class="fa fa-clock-o"></i> 14 : 10 PM - 14 : 40 PM</p>
                <h3 class="event-title sub_header">City's Public Private Partnership Investment Opportunities</h3>
               <!-- <p>By <a href="#">Mr. Thando Miti: PPP Programmes Manager</a></p>-->
              </div>
            </div>
            <!-- /event -->

               <!-- event -->
          <div class="event">
              <div class="event-hour"></div>
              <div class="event-content">
                <p class="event-time"><i class="fa fa-clock-o"></i> 14 : 40 PM - 15 : 00 PM</p>
                <h3 class="event-title sub_header">Theory and Practice of Public Private Partnership: Case Studies</h3>
               <!-- <p>By <a href="#">De Buys Scott: KPMG Sourthern Africa</a></p>-->
              </div>
            </div>
            <!-- /event -->

            <!-- event -->
          <div class="event">
              <div class="event-hour"></div>
              <div class="event-content">
                <p class="event-time"><i class="fa fa-clock-o"></i> 15 : 00 PM - 15 : 30 PM</p>
                <h3 class="event-title sub_header">Panel Discussion</h3>
              </div>
            </div>
            <!-- /event -->

              <!-- event -->
          <div class="event">
              <div class="event-hour"></div>
              <div class="event-content">
                <p class="event-time"><i class="fa fa-clock-o"></i> 15 : 30 PM - 16 : 00 PM</p>
                <h3 class="event-title">Networking Coffee Break</h3>
              </div>
            </div>
            <!-- /event -->
            <!-- event -->
          <div class="event">
              <div class="event-hour"></div>
              <div class="event-content">
                <p class="event-time"><i class="fa fa-clock-o"></i> 16 : 00 PM - 16 : 25 PM</p>
                <h3 class="event-title sub_header">Gauteng City Region and Sustainable Growth and Development</h3>
               <!-- <p>By <a href="#">Mr. Mike Maile: MEC for Economic Dev</a></p>-->
              </div>
            </div><div class="event">
                <div class="event-hour"></div>
                <div class="event-content">
                  <p class="event-time"><i class="fa fa-clock-o"></i> 16 : 25 PM - 16 : 50 PM</p>
                  <h3 class="event-title sub_header">Gauteng Provinc's Mega Infrastructure Development Plan</h3>
                 <!-- <p>By <a href="#">Mr. Jacob Mamabolo: MEC for Infrastructure</a></p>-->
                </div>
              </div>
                <!-- event -->
          <div class="event">
              <div class="event-hour"></div>
              <div class="event-content">
                <p class="event-time"><i class="fa fa-clock-o"></i> 16 : 50 PM -  17 : 00 PM</p>
                <h3 class="event-title sub_header">Closing Remarks</h3>
                <!--<p>By <a href="#">Cllr. Robert Mashego: MMC for Infrastructure</a></p>-->
              </div>
            </div>
            <!-- /event -->
             
              <!-- event -->
          <div class="event">
              <div class="event-hour"></div>
              <div class="event-content" style="margin-bottom: 0px !important;">
                <p class="event-time"><i class="fa fa-clock-o"></i> 17 : 00 PM -  17 : 30 PM</p>
                <h3 class="event-title sub_header">Submit Ends</h3>
              </div>
            </div>
           
             
              <!--  <div class="event">
                    <div class="event-day">
                      <div>
                        <span class="day">The Gala Dinner</span>
                        <span class="year">20 Nov, 2018</span>
                      </div>
                    </div>
                    <div class="event-content">
                      <p class="event-time"><i class="fa fa-clock-o"></i> 19 : 00 PM - 20 : 00 PM</p>
                      <h4 class="event-title">Gala Dinner Starts</h4>
                      <p><b>o</b> Opening address <br>
                        <b>o</b> COE (Mayor/City Manager)
                      </p>
                    </div>
                  </div>

                  
          <div class="event">
              <div class="event-hour"></div>
              <div class="event-content">
                  <p class="event-time"><i class="fa fa-clock-o"></i> 20 : 00 PM - 21 : 00 PM</p>
                  <h4 class="event-title">Musical item &amp; first course</h4>
                  <p><b>o</b> Presidency/National Government <br>
                    <b>o</b> Province
                  </p>
                </div>
            </div>
         
          <div class="event">
              <div class="event-hour"></div>
              <div class="event-content">
                  <p class="event-time"><i class="fa fa-clock-o"></i> 21 : 00 PM - 20 : 00 PM</p>
                  <h4 class="event-title">Musical item &amp; 2nd course</h4>
                  <p><b>o</b> World bank <br>
                    <b>o</b> Real estate <br>
                    <b>o</b> Musical item &amp; 3rd course
                  </p>
                </div>
            </div>
           
          <div class="event">
              <div class="event-hour"></div>
              <div class="event-content" style="margin-bottom: 0px !important;">
                  <p class="event-time"><i class="fa fa-clock-o"></i> 20 : 00 PM</p>
                  <h4 class="event-title">End of Gala Dinner</h4>
                </div>
            </div>-->
            <!-- /event -->

                  <div class="event">
                      <div class="event-day">
                        <div>
                          <span class="day">Site Visit</span>
                          <span class="year">6 Dec, 2018</span>
                        </div>
                      </div>
                      <div class="event-content">
                        <p class="event-time"><i class="fa fa-clock-o"></i> 08 : 30 AM - 11 : 12 AM</p>
                        <h4 class="event-title">Site Visit</h4>
                        <p>Germiston civic precinct & Kempton park civic precinct <br><br></p>                        
                      </div>
                    </div>
    
        </div>
        <br>
      </div>
  </div>