<div class="container">
    <!-- row -->
    <div class="row">
      <!-- section title -->
      <div class="col-md-12 text-center section-title">
        <h3 class="title"><span>Event Schedule</span></h3>
      </div>
      <!-- /section title -->
      </div>
      <div class="row">
      <div class="col-md-12 text-center">

        <div class="events-wrapper">
          <!-- event -->
          <div class="event">
            <div class="event-day">
              <div>
                <span class="day">20</span>
                <span class="year">Nov, 2018</span>
              </div>
            </div>
            <div class="event-content">
              <p class="event-time"><i class="fa fa-clock-o"></i> 8 : 00 AM - 11 : 00 AM</p>
              <h3 class="event-title">His id altera fabellas facilisis. Has eros assueverit cu</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <p>By <a href="#">John Doe</a></p>
            </div>
          </div>
          <!-- /event -->

          <!-- event -->
          <div class="event">
            <div class="event-hour"></div>
            <div class="event-content">
              <p class="event-time"><i class="fa fa-clock-o"></i> 8 : 00 AM - 11 : 00 AM</p>
              <h3 class="event-title">Perpetua consectetuer definitiones id sea, mei utinam eripuit ne</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <p>By <a href="#">John Doe</a></p>
            </div>
          </div>
          <!-- /event -->

          <!-- event -->
          <div class="event">
            <div class="event-hour"></div>
            <div class="event-content">
              <p class="event-time"><i class="fa fa-clock-o"></i> 8 : 00 AM - 11 : 00 AM</p>
              <h3 class="event-title">At mucius deserunt delicatissimi eam, labitur detraxit ut sit</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <p>By <a href="#">John Doe</a></p>
            </div>
          </div>
          <!-- /event -->

          <!-- event -->
          <div class="event">
            <div class="event-day">
              <div>
                <span class="day">21</span>
                <span class="year">Nov, 2018</span>
              </div>
            </div>
            <div class="event-content">
              <p class="event-time"><i class="fa fa-clock-o"></i> 8 : 00 AM - 11 : 00 AM</p>
              <h3 class="event-title">His id altera fabellas facilisis. Has eros assueverit cu</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <p>By <a href="#">John Doe</a></p>
            </div>
          </div>
          <!-- /event -->

          <!-- event -->
          <div class="event">
            <div class="event-hour"></div>
            <div class="event-content">
              <p class="event-time"><i class="fa fa-clock-o"></i> 8 : 00 AM - 11 : 00 AM</p>
              <h3 class="event-title">At mucius deserunt delicatissimi eam, labitur detraxit ut sit</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <p>By <a href="#">John Doe</a></p>
            </div>
          </div>
          <!-- /event -->
          
        </div>
<!-- 
        <div class="download-btn">
          <a href="#" class="main-btn">Download Schedule</a>
        </div>
-->
      </div>
    </div>
    <!-- /row -->
  </div>